.form-container{
    height: 100%;
    padding: 6rem;
    width:75%;
    margin: 0 auto;
    box-shadow: 0 3rem 6rem rgba($color-black, 0.4);
    background-image: 
                linear-gradient(105deg, 
                    rgba($color-white,0.9) 0%,
                    rgba($color-white,0.9) 50%, 
                    transparent 50%), 
                url('../img/nat-10.jpg');
    background-size:cover;

    .form{
        width: 50%;

        &__field{
            & input{
                font-size: 1.4rem;
                color: inherit;
                font-family: inherit;
                padding: 1.5rem 2rem;
                border-radius: 3px;
                display: block;
                width: 80%;
                border: none;
                border-bottom: 3px solid transparent;
                transition: all .4s;

                &:focus{
                    outline: none;
                    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
                    border-bottom: 3px solid $color-primary;

                    &:invalid{
                        border-bottom: 3px solid $color-secondary-dark;
                    }
                }
            }

            & label{
                font-size: 1.4rem;
                color: $color-black;
                margin-left: 2rem;
                position: absolute;
                transition: all .4s;
            }


            & input:placeholder-shown + label {
                opacity: 0;
                visibility: hidden;
                transform: translateY(-4rem);
            }
        }

        &__radio{
            width: 49%;
            display: inline-block;

            & input{
                display: none;
            }

            & label{
                position: relative;
                padding-left: 4rem;
                padding-top: 0.4rem;
            }

            & input:checked + label .radio__button{
                &::after{
                    opacity: 1;
                    visibility: visible;
                }
            }
        }

        & .radio__button{
            display: inline-block;
            position: absolute;
            top:0;
            left:0;
            height: 3rem;
            width: 3rem;
            border-radius: 50%;
            border: 3px solid $color-primary;

            &::after{
                content: '';
                height: 1.5rem;
                width: 1.5rem;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                background-color: $color-primary;
                border-radius: 50%;
                opacity: 0;
                visibility: hidden;
            }
        }
    }
}