.image__composition{
    position: relative;

    img{
        width: 55%;
        box-shadow: 0 1.5rem 4rem rgba($color-black, .4);
        border-radius: 2px;
        position: absolute;
        z-index: 10;
        transition: all .3s;
        outline-offset: 2rem;

        &:hover{
            transform: scale(1.05) translateY(-.5rem);
            outline: 1.5rem solid $color-primary;
            z-index: 20;
        }
    }

    &--p1{
        top:-2rem;
        left:0;
    }

    &--p2{
        top: 4rem;
        right: 0;
    }

    &--p3{
        top: 12rem;
        left: 20%;
    }

    &:hover img:not(:hover){
        transform: scale(0.9);
    }
}